* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.coming-soon {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  font-family: Arial, sans-serif;
}

.coming-soon h1 {
  font-size: 5rem;
}

.shiny {
  color: gold;
}

.dex {
  color: red;
}

.coming-soon p {
  margin-top: 16px;
  color: white;
  font-size: 1.5rem;
}